.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 900px;
  height: 150px;
  background-color: aqua;
  margin-top: 100px;
  margin-left: 300px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53a6ef;
  border-radius: 10%;
  height: 120px;
  width: 120px;
}

img {
  width: 80%;
  height: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

img.volteado {
  transform: rotateY(180deg);
  opacity: 0;
}
