* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 900px;
  margin-top: 150px;
  margin-left: 40px;
  background-color: aliceblue;
  border: solid skyblue;
  border-radius: 10%;
}

.rejilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}

.item {
  background-color: blue;
  padding: 100px;
  border-radius: 10%;
}
